.resim1{
    
    margin: 10px 799px;
    padding: 29;
    list-style-position: inside
}
.resim2{
    
    margin: 10px 799px;
    padding: 100;
    list-style-position: inside
     
}
.resim3{
    margin: 100px 830px;
    padding: 29;
    list-style-position: inside
}

.text{
    margin-left: 50% ;
}